.meds-results-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    align-items: center;
    position: relative;
    margin-top: 15px;
}

md-whiteframe {
    background-color: white;
}

.med-result {
    background-color: white;
    margin-top: 24px;
    width: 98%;
    color: #5D5D5D;
}

.med-result:first-of-type {
    margin-top: 0;
}

.med-result:last-of-type {
    margin-bottom: 5px;
}

.med-header {
    font-size: 2.5em;
    color: #D5E7F9;
}

.meds-info-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.med-price {
    display: flex;
    align-items: center;
}

.divider {
    border-top: 1px solid rgba(0,0,0,.08);
}

.med-name {
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.med-name i {
    margin-left: 7px;
}

.med-primary-info {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.med-secondry-info {
    margin: 20px;
}

.error-message {
    background-color: #D5E7F9;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30vh;
    color: #3D6B9A;
    font-size: 1.5em;
}

.back-button {
    position: absolute;
    right: 5%;
    top: 5%;
    color: #4E77A1;
    background-color: #D5E7F9;
    border-radius: 100%;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

.back-button:hover {
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
}

.back-button:active {
    margin-top: 3px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.back-button:focus {
    outline: none;
}