.home-container {
    align-self: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-type-container {
    margin-left: 15px;
}

.search-type-container md-select-value {
    color: #D5E7F9 !important;
}

.search-type-container label {
    color: #83BEF9 !important;
}

.logo-container {
    display: flex;
    justify-content:center;
    font-size: 4em;
    font-weight: bold;
    color: #D5E7F9;
    align-items: center;
}

.logo {
    font-size: 1em;
}

.med-search-input {
    min-width: 300px;
}

.top-searches-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
}

.top-search-items {
    margin-top: 10px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-search-item {
    margin: 3px;
}

.top-search-item a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.top-search-item i{
    font-size: 1em;
}

.top-searches-header {
    color: #D5E7F9;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
}